.logo-nav{
  width: 34%;
  padding: 1%;
  background-color: white;
}
.logo-side-nav{
  width: 81%;
  padding: 1%;
  background-color: white;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: white;
}
main {
    flex: 1 0 auto;
}
.sicsa{
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  color: #003d7f;
}
p{
  font-size: 20px;
  font-family: 'Signika', sans-serif;
}
.mip{
  padding-top: 2%;
}
.side-nav{
  background-color: #82b1ff;
}
.pasos{
  font-size: 25px;
  font-family: 'Signika', sans-serif;
}
.mano{
  height: 350px!important;
  width: 780px!important;
}
li{
  font-size: 20px;
  font-family: 'Signika', sans-serif;
}
